<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257280066716-d3apsrvn0aogct2bcosl24uqo148f7kg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257280066716-d3apsrvn0aogct2bcosl24uqo148f7kg</string>
	<key>API_KEY</key>
	<string>AIzaSyCQk_q7L9_IMgvcQLIiTdI1xeIYqw8f3zY</string>
	<key>GCM_SENDER_ID</key>
	<string>257280066716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-e2faa</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-e2faa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257280066716:ios:18ed0687f0db3837ce5959</string>
</dict>
</plist>